---
import BaseLayout from '@layouts/BaseLayout.astro';
import EXPERIENCE from '@components/Experience.astro';
import Card from '@components/Card.astro';
import localBirdImage from '@images/card-front2.png';
// import "../styles/global.css";



const pageTitle = "About Me";
const identity = {
  firstName: "YuJung Su",
  age: "30",
  country: "Taiwan",
  occupation: "Freelancer",
  hobbies: ["Cat", "Books", "Drawing", "Tennis"],
};
// const skills = ["HTML", "CSS", "Python","JavaScript", "Astro", "Houdini","Blender","Krita","Reaper","Live2d"];
// const images = {
//       './assets/fullhp.png': () => import('./assets/fullhp.png'),
//       './assets/midhp.png': () => import('./assets/midhp.png'),
//       './assets/lowph.jpeg': () => import('./assets/lowph.jpeg')
//     }
// const happy = true;
// const finished = true;
// const goal = 3;
// const skillColor = "navy";

---

<!-- <div class="card">
  <h2>{name}</h2>
  <p>Age: {age}</p>
  <Image src={} alt={altText} />
</div> -->
<!-- pageTitle={pageTitle} -->
<BaseLayout>
  <div class="m-4 p-3">
    <!-- <h1>About me</h1> -->

    <ul>
      <li>My name is {identity.firstName}. I am {identity.age} years old.</li>
      <li>I live in {identity.country} and I work currently as a {identity.occupation}. I am looking for a
      job as a 3D VFX artist. </li>
      {identity.hobbies.length >= 2 &&
        <li>My hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
      }
    </ul>
  <div/>
<h1>Skills</h1>
  <div>
    <!-- <p>My skills are:</p> -->
    <Card client:load/>
    <!-- <div class="flex flex-row flex-wrap">
      {skills.map((skill) => <div class="text-white bg-blue-500 rounded-sm p-2 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">{skill}</div>)}
    -->
  <div/>
  <h1>Education</h1>
  <div>

    

  <EXPERIENCE/>
  </div>
  </BaseLayout>