---
import { getCollection } from "astro:content";
import BaseLayout from '@layouts/BaseLayout.astro';
const pageTitle = "部落格";
import BlogPost from '@components/BlogPost.astro';
// const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

const allPosts = await getCollection("blog");

import{formatBlogPosts} from "@scripts/orderposts";
const formattedPosts = formatBlogPosts(allPosts);
---


<BaseLayout pageTitle={pageTitle}>
  <h1>我的部落格</h1>
  <br/>
  <h2>這裡是我舒適的小窩，可以看到我的學習的過程與生活的一點一滴</h2>
  <br/>
  <ul>
    <!-- {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)} -->
         <!-- {allPosts.map((post) => (<BlogPost url={`/predator/posts/${post.id}/`} title={post.data.title} pubDate={post.data.pubDate}/>))} -->
    {formattedPosts.map((post) => (<BlogPost url={`/predator/posts/${post.id}/`} title={post.data.title} pubDate={post.data.pubDate}/>))}

  </ul>
</BaseLayout>