---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "CG & VFX";
import Whitebox from '@components/whitebox.astro';
import Textbox from '@components/Textbox.astro';
import { Image } from 'astro:assets';
import mushroom from 'src/images/mushroomstatic3-small.png';
import watch from 'src/images/watch4-scene1bright.0016.png';
import cells1 from 'src/images/newlook.png';
import patticle1 from 'src/images/smolesingle.png';
import skull from 'src/images/render3.png';
import fractal from 'src/images/highres.png';
import blackhole from 'src/images/bh2.png';
import vtuberr from 'src/images/girl2-beforesplit.png';
import anime1 from 'src/images/2023-26-3.png';
---

<BaseLayout pageTitle={pageTitle}>
  <Textbox t1={'電腦合成影像'} t2={'I am a beginner VFX artist and concept artist. I also do simple animations like product animations in TV and youtube. I make simple VFX effects for games and movies.I am using Blender and Hudini. There are still a lot to learn! But I am having fun!'}/>
	
	<Whitebox imagePath="/src/images/watch4-scene1bright.0016.png" t1={'產品廣告圖 / 動畫'
}/>
	<Whitebox imagePath="/src/images/mushroomstatic3-small.png" t1={'遊戲場景設計'
}/>
	<Whitebox imagePath="/src/images/landscape-render3-cut.png" t1={'3D建模'
}/>
	<Whitebox imagePath="/src/images/render3.png" t1={'3D角色設計(初學者level)'
}/>
	<Whitebox imagePath="/src/images/mushroomstatic3-small.png" t1={'Music Visualizer 音樂視覺效果'
}/>
<div class="inline-block">
  <h1>作品集</h1>
  <!-- <p>Here is my Youtube channel! Please subscribe!</p>
  <iframe width="640" height="427"
  src="https://www.youtube.com/embed/i8Lw7OafuKk">
  </iframe> -->
  <div class="columns-3 gap-4 mt-4">
    <Image class="rounded-lg mt-2 mb-2" src={mushroom} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={watch} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={cells1} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={patticle1} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={skull} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={fractal} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={blackhole} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={vtuberr} alt="A bird sitting on a nest of eggs." />
    <Image class="rounded-lg mt-2 mb-2" src={anime1} alt="A bird sitting on a nest of eggs." />
  </div>
</div>
</BaseLayout>