---
// import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import Imageadv from 'src/assets/fullhp.png';
import Imagemid from 'src/assets/midhp.png';
import Imagebeg from 'src/assets/lowhp.png';

// import icon_html from '/predator/public/html5.svg';
// import icon_css from '/predator/public/css.svg';
// import icon_js from '/predator/public/js.svg';
// import icon_twcss from '/predator/public/twcss.png';
// import icon_git from '/predator/public/git.svg';
// import icon_astro from '/predator/public/astro2.svg';
// import icon_blenderr from '/predator/public/blender.svg';
// import icon_houdini from '/predator/public/houdini3D.png';
// import icon_krita from '/predator/public/krita.png';
// import icon_python from '/predator/public/python.svg';
// import icon_l2d from '/predator/public/cubism.png';
// import icon_three from '/predator/public/Threejs-logo.svg';


---
<div class="flex flex-row flex-wrap shrink rounded-lg pl-4 pr-4">
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <!-- <Image src={icon_html} alt="ladvanced" class="size-[40px]" title="html5" /> -->
    <Image src={Imagemid} alt="ladvanced" class="size-[40px]" title="intermediate"/>
    <img src="/predator/html5.svg" alt="ladvanced" class="size-[40px]" title="html5"/>
  </div>
  <!-- <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_css} alt="ladvanced" class="size-[40px]" title="css" />
    <Image src={Imageadv} alt="ladvanced" class="size-[40px]" title="advanced"/>
  </div>
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_js} alt="ladvanced" class="size-[40px]" title="css" />
    <Image src={Imagebeg} alt="ladvanced" class="size-[40px]" title="beginner"/>
  </div>
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_twcss} alt="ladvanced" class="size-[40px]" title="Tailwind css" />
    <Image src={Imageadv} alt="ladvanced" class="size-[40px]" title="advanced"/>
  </div>
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_astro} alt="ladvanced" class="size-[40px]" title="Astro" />
    <Image src={Imagebeg} alt="ladvanced" class="size-[40px]" title="beginner"/>
  </div> 
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_git} alt="ladvanced" class="size-[40px]" title="Git" />
    <Image src={Imagemid} alt="ladvanced" class="size-[40px]" title="intermediate"/>
  </div>
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_blenderr} alt="ladvanced" class="size-[40px]" title="Blender" />
    <Image src={Imageadv} alt="ladvanced" class="size-[40px]" title="Advanced"/>
  </div> 

  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_houdini} alt="ladvanced" class="size-[40px]" title="Houdini" />
    <Image src={Imagemid} alt="ladvanced" class="size-[40px]" title="intermediate"/>
  </div>

  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_krita} alt="ladvanced" class="size-[40px]" title="Krita" />
    <Image src={Imageadv} alt="ladvanced" class="size-[40px]" title="advanced"/>
  </div>
  
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_l2d} alt="ladvanced" class="size-[40px]" title="Live2d" />
    <Image src={Imagemid} alt="ladvanced" class="size-[40px]" title="intermediate"/>
  </div>
  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_python} alt="ladvanced" class="size-[40px]" title="Python" />
    <Image src={Imagemid} alt="ladvanced" class="size-[40px]" title="intermediate"/>
  </div>

  <div class= "text-white bg-purple-500 rounded-lg p-1 m-2 text-center border-2 border-solid shadow-md shadow-neutral-50">
    <Image src={icon_three} alt="ladvanced" class="size-[40px]" title="Python" />
    <Image src={Imagemid} alt="ladvanced" class="size-[40px]" title="intermediate"/>
  </div> -->
</div>