---
interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
}

const { title, company, description, link, date } = Astro.props;
---

<div
  class="relative mx-6 pb-12 grid md:grid-cols-5 md:gap-10"
>
  <div class="pb-4 md:col-span-2">
    <div class="sticky top-0">
      <span
        class="absolute -left-[42px] text-5xl rounded-full drop-shadow-[0px_0px_8px_rgba(255,255,255,1)]"
        >&bull;</span
      >
      <h3
        
        class="text-md font-bold"
      >
        {title}
      </h3>
      <h4 class="text-md font-semibold ">
        {company}
      </h4>
      <time datetime={date} class="text-sm 2xl:text-xl">
        {date}
      </time>
    </div>
  </div>
  <div
    class="flex flex-col gap-2 pb-4 md:col-span-3"
  >
    {description}
  </div>
</div>
