---

import "@styles/background1.css";
interface Props {
   t1: string;
   t2: string;
   t3: string;
   t4: string;
}
const { t1, t2, t3, t4} = Astro.props;
---
<!-- <div class="">
   {t2}
</div> -->
<div class="overflow-hidden rounded-xl shadow-2xl max-w-lg md:max-w-2xl mt-6 mb-8 bg-white/10 backdrop-blur-sm">
  <div class="md:flex">
    <div class="p-4">
      <!-- <div class="text-sm font-semibold text-(--color-mytext2) tracking-wide uppercase">{t1}</div> -->
      <h1 class="text-(--color-mytext) block text-base 2xl:text-2xl"> 
        <!-- indent-8 indent-16-->
        {t1}
      </h1>
      <p class="mt-2 2xl:text-xl">
        {t2}
      </p>
       <p class="mt-2 2xl:text-xl">
        {t3}
      </p>
       <p class="mt-2 2xl:text-xl">
        {t4}
      </p>
    </div>
  </div>
</div>