---

import "@styles/background1.css";
interface Props {
   t1: string;
   t2: string;
   t3: string;
   t4: string;
}
const { t1, t2, t3, t4} = Astro.props;
---
<!-- <div class="">
   {t2}
</div> -->
<div class="max-w-lg overflow-hidden rounded-xl md:max-w-2xl mt-8 bg-white/10 backdrop-blur-sm rounded-lg">
  <div class="md:flex">
    <div class="p-8">
      <div class="text-sm font-semibold text-(--color-mytext2) tracking-wide uppercase">{t1}</div>
      <h1 class=" text-(--color-mytext2) mt-1 block text-xl"> 
        <!-- indent-8 indent-16-->
        {t1}
      </h1>
      <p class="mt-2">
        {t2}
      </p>
       <p class="mt-2">
        {t3}
      </p>
       <p class="mt-2">
        {t4}
      </p>
    </div>
  </div>
</div>