---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
<div class="bg-yellow-50 text-black rounded-xl p-5 mt-3 mb-3">
  <h1>{frontmatter.title}</h1>
  <h5>{frontmatter.pubDate.toString().slice(0,10)}</h5>
  <!-- <p><em>{frontmatter.description}</em></p> -->
  <h5>Written by: {frontmatter.author}</h5>
  <img src={frontmatter.image.url} width="300px" alt={frontmatter.image.alt} />
  <!-- <div class="tags">
      {frontmatter.tags.map((tag) => (
        <p class="tag"><a href={`/predator/tags/${tag}`}>{tag}</a></p>
      ))}
  </div> not working has bug --> 
<div class="border-b-2 border-gray-300 mb-5"></div>
      <slot/>
</div>

</div>

</BaseLayout>
<style>
  /* a {
    color: #3a3a3a;
  } */

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px black;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #ffffff;
  }
</style>